.App {
  text-align: center;
}

.user-name{
  font-size: 1.5rem;
  font-family: roboto;
}
/* .user-name-2{
  font-weight: bold;
  font-style: italic;
  color: orange;
} */

.img-1{

  width: 100px;
 width: 300px;


}


